<!-- Section: Contact v.3 -->
<section class="contact-section container  my-5">

  <!-- Form with header -->
  <div class="card">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-7">

        <div class="card-body form">

          <!-- Header -->
          <h3 class="mt-4"><mdb-icon fas icon="envelope" class="pr-2"></mdb-icon>Write to us:</h3>

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="form-contact-name" class="form-control" mdbInput>
                <label for="form-contact-name" class="">Your name</label>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="form-contact-email" class="form-control" mdbInput>
                <label for="form-contact-email" class="">Your email</label>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form mb-0">
                <textarea type="text" id="form-contact-message" class="form-control md-textarea" rows="3"
                  mdbInput></textarea>
                <label for="form-contact-message">Your message</label>
              </div>
              <a mdbBtn color="success" class="waves-light" rounded mdbWavesEffect>
                <mdb-icon fab icon="linkedin-in" class="left"></mdb-icon>
                LinkedIn
              </a>
        
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-5">

        <div class="card-body text-center h-100 white-text">

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3574.1983125643383!2d28.18948985736177!3d-26.38477998335784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e951dcd23ec8983%3A0x7d8ab332ae157210!2s2163%20Mamba%20St%2C%20Moleleki%2C%20Katlehong%2C%201434!5e0!3m2!1sen!2sza!4v1628013603156!5m2!1sen!2sza"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Form with header -->

</section>
<!-- Section: Contact v.3 -->