<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="row">
      <div class="col-md-6 mx-auto my-5">
        <div class="testimonial text-center">
          <!--Avatar-->
          <div class="avatar mb-4">
            <img src="../../../assets/images/myimage.jpg" width="180" height="180" class="rounded-circle img-fluid"
              alt="First sample avatar image">
          </div>
          <!--Content-->
          <p>
            <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
            id
            officiis hic tenetur quae quaerat ad
            velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet
            molestias
            voluptatum
            inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
          </p>
          <h4 class="font-weight-bold">Anna Deynah</h4>
          <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
          <!--Review-->
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star-half" class="blue-text"> </mdb-icon>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>