<!-- Mobile devices
When using mdb-carousel on devices with touch input you need to configure hammerjs as shown on the mobile setup docs. Otherwise you won't be able to scroll over mdb-carousel -->


<div class="container py-5">
  <h2 class="inline-block">Testimonials </h2>

  <h3 class="h2 mb-5 text-center">Happy Clients Says</h3>

  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-slide>
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="text-center">
            <!--Avatar-->
            <div class="mx-auto mb-4">
              <img width="200" height="200" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle img-fluid"
                alt="First sample avatar image">
            </div>
            <!--Content-->
            <p>
              <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
              id
              officiis hic tenetur quae quaerat ad
              velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet
              molestias
              voluptatum
              inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
            </p>
            <h4 class="font-weight-bold">Anna Deynah</h4>
            <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
            <!--Review-->
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star-half" class="blue-text"> </mdb-icon>
          </div>
        </div>
      </div>
    </mdb-slide>
    <mdb-slide>
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="text-center">
            <!--Avatar-->
            <div class="mx-auto mb-4">
              <img width="200" height="200" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid"
                alt="First sample avatar image">
            </div>
            <!--Content-->
            <p>
              <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
              id
              officiis hic tenetur quae quaerat ad
              velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet
              molestias
              voluptatum
              inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
            </p>
            <h4 class="font-weight-bold">Anna Deynah</h4>
            <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
            <!--Review-->
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star-half" class="blue-text"> </mdb-icon>
          </div>
        </div>
      </div>
    </mdb-slide>
    <mdb-slide>
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="text-center">
            <!--Avatar-->
            <div class="mx-auto mb-4">
              <img width="200" height="200" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle img-fluid"
                alt="First sample avatar image">
            </div>
            <!--Content-->
            <p>
              <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
              id
              officiis hic tenetur quae quaerat ad
              velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet
              molestias
              voluptatum
              inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
            </p>
            <h4 class="font-weight-bold">Anna Deynah</h4>
            <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
            <!--Review-->
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star-half" class="blue-text"> </mdb-icon>
          </div>
        </div>
      </div>
    </mdb-slide>

  </mdb-carousel>

</div>


