
div > div > div > div > div.col-md-6.col-xl-5.mb-4 > button{
  background-color: rgb(93,84, 163);
  color: #fff;
}

.error-message{
  width: 100%;
  text-align: right;
}

input.form-control.validate-error.ng-invalid.ng-touched, input.form-control.validate-error.ng-invalid.ng-dirty, .form-submitted input.form-control.validate-error.ng-invalid {
  border: 1px solid #f44336 !important;
}

.exclam{
  position: absolute;
  top: 11px;
  right: 16px;
  color: var(--danger);
}

div > div > div > div > div.col-md-6.col-xl-5.mb-4 > button.btn{
  text-transform: unset;
}

h6 {
  line-height: 1.7;
}


@media (min-width: 320px) {
  .h1-responsive {
    font-size: 165%;
  }
}


@media (min-width: 375px) {
  .h1-responsive {
    font-size: 190%;
  }
}


@media (min-width: 425px) {
  .h1-responsive {
    font-size: 235%;
  }
}


@media (min-width: 567px) {
  .h1-responsive {
    font-size: 270%;
  }
}

@media (min-width: 768px) {
  .h1-responsive {
    font-size: 350%;
  }
}