.hm-gradient {
  background: linear-gradient(
    40deg,
    rgba(0, 51, 199, 0.3),
    rgba(209, 149, 249, 0.3)
  );
}

/* Slideshow container */
.slideshow-container {
  flex: 0 0 auto;
  transition: 1.5s all ease;
  z-index: 2;
}

.mySlides {
  margin-right: 3em;
  flex: 0 0 560px;
  position:relative;
  display:inline-block;
}

.mySlides::after{
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background-image: linear-gradient(120deg, rgba(224, 195, 252, 0.5) 0%, rgba(142, 197, 252, 0.5) 100%);
  background: -moz-linear-gradient(top, rgba(224, 195, 252, 0.5) 0%, rgba(142, 197, 252, 0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224, 195, 252, 0.5)),
  color-stop(100%,rgba(142, 197, 252, 0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(142, 197, 252, 0.5) 0%,rgba(224, 195, 252, 0.5) 100%); /*
  Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(142, 197, 252, 0.5) 0%,rgba(224, 195, 252, 0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(142, 197, 252, 0.5) 0%,rgba(224, 195, 252, 0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(142, 197, 252, 0.5) 0%,rgba(224, 195, 252, 0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ec5fc',
  endColorstr='#e0c3fc',GradientType=0 ); /* IE6-9 */
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1.6px;
  width: 60px;
  margin: 0px 3px;
  background-color: var(--danger);
  border-radius: 8px;
  display: inline-block;
  border-width: thin;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--white);
}



/* Fading animation */
.custom-fade {
  -webkit-animation-name: myfade;
  -webkit-animation-duration: 0.6s;
  animation-name: myfade;
  animation-duration: 2s;
}

@keyframes myfade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes myfade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}




header > section > div > div.col-10.p-0 > div > div.d-flex > button{
  flex: 0 0 auto;
  // background: linear-gradient(
  //   40deg,
  //   rgba(0, 51, 199, 0.3),
  //   rgba(209, 149, 249, 0.3)
  // );
}

header > section > div > div.col-10.p-0 > div > div.position-absolute{
  left: 37%;
  bottom: 100px;
}

header > section > div.row{
  height: 100vh;
}


.img-fluid.rounded.waves{
  height: 320px;
}


header > section > div > div.col-10.p-0 > div > div.card-title.text-center.overflow-hidden{
  position: absolute;
  left: -80px;
  height: 80px;
  bottom: 289px;
  z-index: 2;
}

header > section > div > div.col-10.p-0 > div > div.card-title.text-center.overflow-hidden > p {
  font-size: 5rem;
}

.display-1{
  font-weight: 500 !important;
}

header > section > div > div.col-10.p-0 > div > div.card-title.text-center.overflow-hidden > div, .card-no > div{
  transition: 1.5s all ease;
}

.card-no{
  position: absolute;
  left: 97px;
  top: 90px;
  z-index: 1;
  height: 151px;
  // border: 1px solid #fff;
  // background-color: #fff;
}


header > section > div > div.col-2.p-0 > div > ul > li > a{
  color: var(--danger);
  
}

.banner-text{
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
}


div:nth-child(4) > div > div > h4{
  // font-family: ;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
}

div > div > div.col-12 > h2, 
section > div.card-deck.white.black-text.p-5 > div > h2, 
section.container > div:nth-child(1) > div > h2{
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--danger);
}

div > div > div.col-lg-7 > h3{
  font-size: 40px;
  line-height: 52px;
}

.para{
  // background-image: url("../assets/images/mainslide3.jpg");
  background-image:  linear-gradient(40deg, rgba(0, 51, 199, 0.52),  rgba(209, 149, 249, 0.3)), url("../assets/images/mainslide3.jpg");
  // min-height: 00px;
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
}

section > div:nth-child(4) > div.col-md-6.d-flex.flex-wrap.py-5 > div > mdb-card{
  transition: background 250ms ease-in;
}
section > div:nth-child(4) > div.col-md-6.d-flex.flex-wrap.py-5 > div > mdb-card:hover {
  background: var(--light) !important;
  color: var(--dark) !important;
}

.card .card .card-body .card-text{
  color: var(--dark) !important;
}


section.container-fluid.text-white.para.mask > div:nth-child(4) > div.col-md-6.d-flex.flex-wrap.py-5 > div:nth-child(4) > mdb-card > mdb-card-body > mdb-card-text {
  color: var(--light) !important;
}

section > div.card-deck.white.black-text.p-5 > mdb-card > mdb-card-body > mdb-card-title > h5{
  font-size: 26px;
  font-weight: 400;
}

section > div:nth-child(4) > div.col-md-6.d-flex.flex-wrap.py-5 > div > mdb-card > mdb-card-body > mdb-card-title > h5{
  font-size: 20px;
}

mdb-card-header > mdb-icon {
  font-size: 28px;
}

section > div:nth-child(4) > div.col-md-6.d-flex.flex-wrap.py-5 > div > mdb-card > mdb-card-body > mdb-card-text > p{
  font-size: 15px;
}

section.container-fluid.text-white.para.mask > div:nth-child(4) > div.col-md-6.d-flex.flex-wrap.py-5 > div:nth-child(4) > mdb-card:hover section.container-fluid.text-white.para.mask > div:nth-child(4) > div.col-md-6.d-flex.flex-wrap.py-5 > div:nth-child(5) > mdb-card > mdb-card-body > mdb-card-text{
  color: #000 !important;  
}