h2.mb-4.pb-2.d-inline-block, h2.d-inline-block{
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--danger);
}

h3.h3-responsive.mb-3 {
  font-size: 40px;
  line-height: 52px;
}

.parallax {
  background-image: linear-gradient(
      40deg,
      rgba(0, 51, 199, 0.52),
      rgba(209, 149, 249, 0.3)
    ),
    url("../assets/images/mainslide3.jpg");
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
}


.projects{
  background-image: linear-gradient(
    40deg,
    rgba(255, 255, 255, 0.52),
    rgba(209, 149, 249, 0.3)
  ),
  url("../assets/images/banner2.jpg"); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: bottom center;
}

mdb-card.bg-transparent.z-depth-0.white-text.card {
  transition: all 250ms ease-in;
}

mdb-card.bg-transparent.z-depth-0.white-text.card:hover {
  background: var(--light) !important;
  color: var(--dark) !important;
}


section.container-fluid.text-white.parallax.mask
  > div:nth-child(4)
  > div.col-md-6.d-flex.flex-wrap.py-5
  > div:nth-child(4)
  > mdb-card
  > mdb-card-body
  > mdb-card-text {
  color: var(--light) !important;
}

section
  > div.card-deck.white.black-text.p-5
  > mdb-card
  > mdb-card-body
  > mdb-card-title
  > h5 {
  font-size: 26px;
  font-weight: 400;
}

section
  > div:nth-child(4)
  > div.col-md-6.d-flex.flex-wrap.py-5
  > div
  > mdb-card
  > mdb-card-body
  > mdb-card-title
  > h5 {
  font-size: 20px;
}

mdb-card-header > mdb-icon {
  font-size: 28px;
}

section
  > div:nth-child(4)
  > div.col-md-6.d-flex.flex-wrap.py-5
  > div
  > mdb-card
  > mdb-card-body
  > mdb-card-text
  > p {
  font-size: 15px;
}

table{
  table-layout: fixed;
}
td{
  padding: 0 1em;
  width: 400px;
}

td > a {
  color: inherit;
  text-decoration: none !important;
}


// td > a > mdb-card.z-depth-0:hover{
//   box-shadow: 0 5px 8px 0 gray !important;
// }

td:nth-child(odd){
  border-right: 1px solid var(--danger);
  text-align: right;
}

// td.position-relative::before{
//   content: '';
//   position: absolute;
//   left: -5px;
//   top: 0;
//   width: 10px;
//   height: 10px;
//   background-color: var(--dark);
//   border-radius: 50%;
// }

// td.position-relative::after{
//   content: "";
//   position: absolute;
//   left: -5px;
//   background-color: #ff0000;
//   border-radius: 50%;
//   width: 10px;
//   height: 10px;
//   bottom: 58px;
// }

// td.position-relative:nth-child(odd)::after {
//   right: -6px;
//   left: unset;
// }

// td.position-relative:nth-child(odd)::before {
//   right: -5px;
//   left: unset;
// }

.custom-dot {
  position: absolute;
  width: 15px;
  height: 15px;
  background: black;
  left: 50%;
  /* top: 71px; */
  /* bottom: 524px; */
  border-radius: 50%;
  transform: translate(-50%, 0);
}
.custom-dot > * {

  width: 5px;
  height: 5px;
  background: red;
  // left: 50%;
  /* top: 71px; */
  /* bottom: 524px; */
  border-radius: 50%;
  // transform: translate(-50%, 0);

}
@media (min-width: 320px){
  div:nth-child(2) > div.row.justify-content-center > div.col-lg-7 > .display-4{
    font-size: 2rem;
  }

  .col-12 > h2.pb-3.text-center{
    font-size: 1.5rem;
  }
}
@media (min-width: 375px){
  div:nth-child(2) > div.row.justify-content-center > div.col-lg-7 > .display-4{
    font-size: 2.25rem;
  }
}
@media (min-width: 425px){
  div:nth-child(2) > div.row.justify-content-center > div.col-lg-7 > .display-4{
    font-size: 2.5rem;
  }
}

@media (min-width: 768px){
  div:nth-child(2) > div.row.justify-content-center > div.col-lg-7 > .display-4{
    font-size: 3rem;
  }

  .col-12 > h2.pb-3.text-center{
    font-size: 2rem;
  }
}
@media (min-width: 1200px){
  div:nth-child(2) > div.row.justify-content-center > div.col-lg-7 > .display-4{
    font-size: 3.5rem;
  }
}

@media (max-width:574.9px){
  td.position-relative{
    display: none;
  }

  td, td:nth-child(odd){
    border: none;
    border-left: 1px solid var(--danger);
    text-align: left;
  }
  
  td > a::after{
    content: '';
    position: absolute;
    left: 82px;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: var(--dark);
    border-radius: 50%;
  }
}