<app-header></app-header>
<!-- <div class="row">
  <div class="col-12">
    <img src="../assets/images/Publication1.png" alt="">
  </div>
</div> -->
<div class="container mb-5 pt-3">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-12">
      <h2 class="mb-4 pb-2 d-inline-block">About Me</h2>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-5">

      <!-- Featured image -->
      <!-- <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect> -->
      <img class="img-fluid rounded z-depth-2 waves-light" src="../assets/images/myimage.jpg" alt="Sample image"
        mdbWavesEffect>
      <!-- <a>
          <div class="mask rgba-white-slight"></div>
        </a> -->
      <!-- </div>4 -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <h3 class="h3-responsive mb-3">I specialize in translating user and business needs into responsive
        front end code</h3>

      <p>Donec luctus rhoncus dignissim. Integer blandit mattis arcu, id viverra orci condimentum a.
        Quisque nibh tortor, mollis placerat semper ac, auctor quis mauris. Praesent dignissim sed magna eu urna
        consectetur, at pretium nisi aliquet. Sed vestibulum malesuada semper. Init Interdum et malesuada fames ac ante
        ipsum primis in faucibus. Donec malesuada nibh sed dolorinet libero posuere, sed cursus elit congue. Sed
        vestibulum malesuada semper. Init Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec malesuada
        nibh sed dolorinet libero posuere, sed cursus elit congue donec malesuada nibhe</p>

      <!-- Read more button -->
      <a mdbBtn color="success" class="waves-light" rounded mdbWavesEffect>
        <mdb-icon far icon="clone" class="left"></mdb-icon>
        view my profile
      </a>

    </div>
    <!-- Grid column -->



  </div>

</div>

<!--Section: Services-->
<section class="container-fluid text-white parallax mask">

  <!--Grid row-->
  <div class="row py-4">
    <div class="col-12 ">
      <!--Section heading-->
      <h2 class="h2 pb-3 font-weight-bold text-center">I'm available for hire & freelance projects</h2>
      <!--Section description-->
      <p class="px-5 mb-4 pb-2 lead text-center">Lets Work together indeed!.</p>
    </div>
    <div class="col-12 text-center">

      <a mdbBtn color="pink" class="waves-light" rounded mdbWavesEffect>
        <mdb-icon far icon="clone" class="left"></mdb-icon>
        Hire me
      </a>
      <a mdbBtn color="blue" class="waves-light" rounded mdbWavesEffect>
        <mdb-icon far icon="clone" class="left"></mdb-icon>
        Get Qoutes
      </a>

    </div>
  </div>
  <!--Grid row-->

</section>
<div class="container-lg p-sm-5 px-lg-0">

  <!--Grid row-->
  <div class="row">

    <!-- Grid column -->
    <div class="col">
      <h2 class="mb-4 pb-2 d-inline-block">Offerd Services</h2>
    </div>
    <!--Grid column-->

  </div>
  <!-- Grid row -->

  <!-- card-deck -->
  <div class="card-deck">
    <mdb-card *ngFor="let card of cards; index as i" class="mb-3 mx-2" [hidden]="i > 2">
      <mdb-card-header class="border-0 pb-0 bg-transparent">
        <mdb-icon fas icon="{{ card.icon }}"></mdb-icon>
      </mdb-card-header>
      <mdb-card-body class="pt-3">
        <mdb-card-title>
          <h5 class="mb-3">{{ card.title }}</h5>
        </mdb-card-title>
        <mdb-card-text>{{ card.description }}</mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
  <!-- card-deck -->

</div>
<div class="container-fluid parallax">


  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-6 white accent-4"
      style="background-image: url('../assets/images/WakeInternalMedicine-ResponsiveScreens-e1593623160290.png'); background-repeat: no-repeat; background-size: contain; background-position: center center;">
      <!-- <img class="img-fluid" src="../assets/images/WakeInternalMedicine-ResponsiveScreens-e1593623160290.png" alt=""> -->
      <!-- <div class="mask rgba-black-strong"></div> -->
    </div>
    <!-- Grid column -->
    <div class="col-md-6 d-flex flex-wrap py-5">

      <!-- Nested Grid column -->
      <div class="col-sm-6 mb-3 p-0" *ngFor="let card of cards; index as i" [hidden]="i < 3">
        <mdb-card class="bg-transparent z-depth-0 white-text">
          <mdb-card-header class="border-0 pb-0 bg-transparent">
            <mdb-icon fas icon="{{ card.icon }}"></mdb-icon>
          </mdb-card-header>
          <mdb-card-body class="pt-3">
            <mdb-card-title>
              <h5 class="mb-3">{{ card.title }}</h5>
            </mdb-card-title>
            <mdb-card-text>{{ card.description }}</mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!-- Nested Grid column -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!--/Section: Services-->

<!--Projects section v.4-->
<section class="projects container-fluid py-4">
  <div class="row">
    <div class="col">
      <h2 class="d-inline-block">Projects</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-5 position-relative">
      <p class="h3 text-center">Experts In Field</p>
      <p class="text-center">Past experiences</p>
    </div>
    <div class="col-12 d-flex justify-content-center align-items-center">
      <!-- <ul class="position-relative">
          <li></li>
      </ul> -->
      <table>
        <tbody>
          <tr *ngFor="let experience of experiences; index as i">
            
            <td *ngIf="!(i % 2 == 0)" class="position-relative"></td>
            
            <td><a href="{{ experience.href }}" target="_blank">
                <mdb-card class="z-depth-0 bg-transparent">
                  <mdb-card-header class="bg-transparent border-0 p-0">
                    {{ experience.title }}
                  </mdb-card-header>
                  <mdb-card-body class="p-0">
                    <mdb-card-title>
                      <h5>{{ experience.company }}</h5>
                    </mdb-card-title>
                    <mdb-card-text>{{ experience.description }}</mdb-card-text>
                  </mdb-card-body>
                </mdb-card>
              </a></td>

            <td *ngIf="i % 2 == 0" class="position-relative"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!--Projects section v.4-->
<app-testomonials></app-testomonials>
<app-footer></app-footer>